/* NAV STRIP HEADER */
.nav-header {
    height: 70px;
    width: 100%;
    background: rgba(211, 92, 241, 0.75); ;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 1000;

    transition: 
        background 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.25s ease;
}

/* Scroll Elevation */
.nav-header.scrolled {
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    background: rgba(231, 143, 234, 0.9);
}

/* LEFT */
.nav-left img {
    height: 40px;
    transition: transform 0.3s ease;
}

.nav-left img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 6px rgba(155, 140, 255, 0.6));
}

/* CENTER TITLE */
.nav-center {
    position: absolute;
    color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    transition: letter-spacing 0.3s ease;
}

.nav-header:hover .nav-center {
    letter-spacing: 2px;
}

/* RIGHT ICONS */
.nav-right {
    display: flex;
    gap: 18px;
}

.nav-right i {
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    transition: 
        transform 0.25s ease,
        color 0.25s ease;
}

.nav-right i:hover {
    transform: translateY(-2px) scale(1.1);
    color: #9B8CFF; 
}



/* Shift main content below fixed header */
.main-content {
    position: relative;
    margin-top: 1vh;
}

